default-*
.vscode
*.o
cython_debug
mesh.c
poisson.c
stokes.c
analytic_sol.c
maths.c
swarm.c
*_debug.txt
compile.log
.env
**/__pycache__
*.so
examples/.ipynb_checkpoints/*
examples/PoissonEq/poisson
*.h5
*.xmf
python/underworld3
examples/c_examples/PoissonEq/poisson
examples/c_examples/CartesianStokes/stokes
build
keep
old
**/underworld3.egg-info/*
keep/*
*.swp
nohup.out
src/underworld3/_uwid.py
*.png # Add these explicitly if you want to keep them 

# quarto build relics

documentation/index.aux
documentation/index.pdf
documentation/index.tex
documentation/index.log
documentation/index.toc

# Jupyter Book build relics

Jupyterbook/_build
Jupyterbook/static_slides
/Lectures/static_slides/slideshows
*slideshows*
Jupyterbook/node_modules/.yarn-integrity
Jupyterbook/Notebooks_old*
package-lock.json

# Myst build relics

Documentation/_build
Documentation/_build/templates

# joss-build-bot relics

joss-paper/paper.crossref
joss-paper/paper.pdf

.ash_history


# Mesh files etc

uw_*.msh
*.msh # unless we really want to add some examples
*.h5
*.xdmf
*.vtk
*.pbin

# Any checkpoints from notebooks (since .md files can be run in setups with 
# jupytext and will produce spurious/unexpected checkpoints.

.ipynb_checkpoints

# Autobuilt documentation

uw3_api_docs
uw3_api_docs/*

# pytest

.pytest_cache/*


# Visualisation artefacts
ignore*vtk
ignore*msh
tmp*vtk
tmp*msh

# Docker build artefacts

docker/underworld3_components

# Other
*DS_Store
Jupyterbook/.DS_Store
Jupyterbook/Notebooks/.DS_Store
Jupyterbook/Notebooks/Examples-NavierStokes/order_1/NS_test_Re_250_0.06_step_0.png
Documentation/index.aux
