default-*
.devcontainer
.vscode
*.o
cython_debug
mesh.c
poisson.c
stokes.c
analytic_sol.c
maths.c
swarm.c
.env
__pycache__
*.so
examples/.ipynb_checkpoints/*
examples/PoissonEq/poisson
*.h5
*.xmf
underworld3/petsc_types.c
python/underworld3
examples/c_examples/PoissonEq/poisson
examples/c_examples/CartesianStokes/stokes
build
keep
output*
old
underworld3.egg-info/*
keep/*


# Jupyter Book build relics

Jupyterbook/_build
Jupyterbook/static_slides
/Lectures/static_slides/slideshows
*slideshows*
Jupyterbook/node_modules/.yarn-integrity
Jupyterbook/Notebooks_old*
package-lock.json


# Any checkpoints from notebooks (since .md files can be run in setups with 
# jupytext and will produce spurious/unexpected checkpoints.

.ipynb_checkpoints

# Autobuilt documentation

uw3_api_docs
uw3_api_docs/*

# pytest

.pytest_cache/*


# Visualisation artefacts

ignore*vtk
ignore*msh
tmp*vtk
tmp*msh

# Other

