name: test_uw3

# We should trigger this from an upload event. Note that pdoc requires us to import the
# built code, so this is a building test as well as documentation deployment

on:
  push:
    branches:
      - main
      - development
      - Quick_Start_Docs

  pull_request:

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ./environment.yml
          cache-downloads: true
          cache-environment: true

      - name: Build UW3
        shell: bash -l {0}
        run: |
          export PETSC_DIR="/home/runner/micromamba/envs/uw3_test/lib"
          VERSION=`python3 setup.py --version`
          echo "UW - version " ${VERSION}

          ## TODO. Use scripts/compile.sh once it is in development
          pip install -e . --no-build-isolation

      - name: Run tests 
        shell: bash -l {0}
        run: |
          ./scripts/test.sh
